* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
}

button,
.modal_cta {
  display: block;
  width: max-content;
  margin: 0 auto;

  border: none;
  background-color: royalblue;
  color: white;

  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 30px;
  cursor: pointer;
}

.red {
  background-color: darkred;
}

.modal {
  position: fixed;
  display: none;
  place-items: center;
  inset: 0; /* Se utiliza para posicionar un elemento dentro de su contenedor padre, estableciendo distancias desde los bordes superior, izquierdo, derecho y inferior*/
  background-color: #0000008d;

  transition: opacity 0.3s;
  pointer-events: unset;
  opacity: 0;
}

.show {
  display: grid;
  pointer-events: unset;
  opacity: 1;
}

.modal_container {
  border-radius: 10px;
  position: relative;
  display: grid;
  gap: 1rem;
  background-color: #fff;
  width: 90%;
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

.modal_close {
  background-color: darkred;
  color: white;
  width: 30px;
  height: 30px;
  font-size: 23px;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: -15px;
  cursor: pointer;
}

.modal_figure {
  width: 90%;
}

.modal_img {
  width: 100%;
  display: block;
}

.modal_title {
  font-size: 2rem;
}

.modal_cta {
  text-decoration: none;
  margin-top: 1rem;
}
