* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0;

  display: grid;
  gap: 2rem;
}

.title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;

  color: steelblue;

  /* background-color: red; */
}

.title::after {
  content: "soy un pseudoelemento";
  display: block;
}
