* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}

.titulo {
  margin-bottom: 20px;
}

li {
  margin: 10px 0;
  margin-top: 20px;
}

ul {
  list-style: none;
}
